<!DOCTYPE html>
<html lang="en" xmlns:th="thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Użytkownicy</title>
</head>
<body>
<script type="text/javascript" src="plik.js"></script>

<table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">

    <thead>
    <tr>
        <th>O.N.</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Login</th>

    </tr>
    </thead>
    <tbody>
        <tr th:each="user : ${readUser}">
            <td><span th:text="${user.id}"></span></td>
            <td><span th:text="${user.name}"></span></td>
            <td><span th:text="${user.surname}"></span></td>
            <td><span th:text="${user.login}"></span></td>
        </tr>
    </tbody>

</table>
</body>
</html>
